{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Forncedores</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'index' %}">Home</a>
                    <a href="{% url 'fornecedores' %}">Fornecedores</a>
                    <a href="{% url 'fornecedor_form' %}">Cadastrar Fornecedor</a>
                    <a href="#">Atualizar Fornecedor</a>
                </li>
            </ul>
        </nav>
    </header>
    <br><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, iusto! Incidunt cumque, nihil magni dolorum nemo eveniet. Quis, error minus. Maiores vel sunt ratione ipsam harum veritatis corrupti dolorum dolore!</p>








</body>
</html>

{% block content %}{% endblock %}