{% extends 'todos/base.html' %}

{% for forncedor in forncedores %}
<tr>
    <th scope="row">{{ todo.id }}</th>
    <td>{{ fornecedor.nome }}</td>
    <td>{{ fornecedor.cnpj }}</td>
    <td>{{ fornecedor.endereco }}</td>
    <td>{{ fornecedor.bairro }}</td>
    <td>{{ fornecedor.cidade }}</td>
    <td>{{ fornecedor.uf }}</td>
    <td>{{ fornecedor.telefone }}</td>
    <td>{{ fornecedor.email }}</td>
    <td>{{ fornecedor.tipo_de_produto }}</td>
    <td>{{ fornecedor.sobre_produto }}</td>
    <td>{{ fornecedor.transportadora_principal }}</td>
    <td>{{ fornecedor.custo_medio_de_compra }}</td>
    <td>{{ fornecedor.outras_informacoes }}</td>
    <td>{{ fornecedor.data_cadastro }}</td>

</tr>
{% endfor %}