
{% extends 'todos/base.html' %}

{%  block content %}
{% load  static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

<h1 >  Sejam Bem-Vindos ao nosso Cadastro de Fornecedores   </h1><br>
<p> Nessa aplicação iremos te ajudar a organizar os seus negócios !!!!</p>    


<footer style="display: flex; justify-content: space-between;">
    <img src="{% static 'imagens/gente.png' %}" alt="mulher sorrindo com celular">
    <img src="{% static 'imagens/nego_di.png' %}" alt="mulher sorrindo com celular">
</footer>



{% endblock%}